*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    width: 500px;
    height: 500px;
    text-align: left;
    background-color: white;
    color: black;
}
@media screen and (width <= 500px) {
    p{
        text-align: center;
}
